git+git://github.com/dbca-wa/dpaw-utils@minimal
psycopg2-binary==2.7.5
Django==2.0.7
django-confy==1.0.4
django-extensions==2.0.7
gunicorn==19.8.1
whitenoise==3.3.1
dj-static==0.0.6
wagtail==2.1.1
django-taggit==0.22.2
django-modelcluster==4.1
Pillow==5.2.0
raven==6.9.0
