[uwsgi]
# Django-related settings
chdir           = /path/to/project/dir/
home            = %(chdir)venv
module          = oim_cms.wsgi

# Process-related settings
auto-procname   = true
hook-pre-app    = exec:venv/bin/python manage.py collectstatic -l --noinput
static-map      = /static=%(chdir)static
static-map      = /media=%(chdir)media
static-safe     = %(chdir)
static-cache-paths = 30

socket          = :<port number>
die-on-term     = true

# Required to be in the app config file for %n to work
procname-prefix = %d
touch-reload    = %d%n.ini
stats           = /var/spool/uwsgi/sockets/stats_%n.sock
logto           = /var/log/uwsgi/%n.log
disable-logging = true

# Postgrest API server
attach-daemon2 = cmd=venv/bin/python manage.py postgrest
