<table>
    <tr><th>User Data</th><th>System Data</th></tr>
    <tr><td>
        {% if obj.database_backup %}<a href="{{ obj.database_backup }}" target="_blank">Databases:</a> {{ obj.get_database_schedule_display }}<br>{% endif %}
        {% if obj.appdata_backup %}<a href="{{ obj.appdata_backup }}" target="_blank">Applications:</a> {{ obj.get_appdata_schedule_display }}<br>{% endif %}
        {% if obj.filesystem_backup %}<a href="{{ obj.filesystem_backup }}" target="_blank">Filesystems:</a> {{ obj.get_filesystem_schedule_display }}<br>{% endif %}
    </td><td>
        {% if obj.appconfig_backup %}<a href="{{ obj.appconfig_backup }}" target="_blank">Application Configuration:</a> {{ obj.get_appconfig_schedule_display }}<br>{% endif %}
        {% if obj.os_backup %}<a href="{{ obj.os_backup }}" target="_blank">Operating System:</a> {{ obj.get_os_schedule_display }}<br>{% endif %}
    </td></tr>
</table>
{% if obj.test_schedule > 0 %}
<p><strong>Testing - HWType: {{ obj.system.get_device_type_display }}</strong><br>
    <a href='{{ settings.JIRA_URL }}/issues/?jql=project = ITSMS AND "SD Service Category / Type" = "Backup Management" AND text ~ "{{ name }}"' target="_blank">JIRA Test Log</a> - <span {% if obj.test_overdue %}style="color:#cc0000;"{% endif %}>Test Due: {{ obj.next_test_date }}</span>
</p>
{% endif %}
