{% load core_tags static wagtailcore_tags %}

<div class="row hide-for-print"><ul class="breadcrumbs">
{% for menuitem in menuitems %}
<li {% if forloop.last %}class="current"{% endif %}><a href="{% pageurl menuitem %}">{{ menuitem.title }}</a></li>
{% endfor %}
<li><a title="Open fullscreen in new tab" target="_blank" href="{{ request.get_full_path }}{% if '?' in request.get_full_path %}&amp;{% else %}?{% endif %}fullscreen"><i class="fa fa-expand"></i></a></li>
<li id="logout-breadcrumb" class="right show-for-medium-up">{{ request.user.email }}: <a title="logout" href="{% url 'logout' %}">logout</a>
</li>
</ul>
</div>
