{% load core_tags wagtailcore_tags %}

{% if error %}<div data-alert class="alert-box alert">{{ error }}</div>{% endif %}
{% for block in self.body %}
    {% if block.block_type == 'heading' %}
        <h1>{{ block.value }}</h1>
    {% elif block.block_type == 'rich_text' %}
        {{ block.value|richtext }}
    {% elif block.block_type == 'include_content' %}
        {% include_content block.value %}
    {% elif block.block_type == 'content_list' %}
	        {% content_list block.value %}
	{% elif block.block_type == 'background_image' %}
		{% content_list block.value %}
    {% else %}
        {{ block }}
    {% endif %}
{% endfor %}
