{% extends "knowledge/knowledge_base.html" %}

{% block content %}
<div class="row">
    <div class=" small-12 medium-6 columns">
      <h1>IT System Register</h1>
    </div>
    <div class="columns end">
        <div class="callout secondary">
            Please provide any feedback or corrections for the IT System Register to <a href="mailto:OIMSupport@dpaw.wa.gov.au">OIMSupport@dpaw.wa.gov.au</a>.
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <ul>
            <li><b><abbr class="glossary" title="Information and related Technology">IT</abbr> System definition:</b> An <b><abbr class="glossary" title="Information and related Technology">IT</abbr> System</b> is made up of a collection of technology components (hardware, software and telecommunication) that enable and protect the lifecycle and transmission of digital contents (measurement, data, information, knowledge, wisdom and intelligence) which support the business processes or legal obligations of the department; and an <abbr class="glossary" title="Information and related Technology">IT</abbr> System may operate with other <abbr class="glossary" title="Information and related Technology">IT</abbr> Systems via the intranet, extranet<i> </i> and/or the internet.</li>
            <li><b>Help to find information:</b> You can use the filters at the top of the register to help you find the system / custodian you’re looking for.</li>
            <li><b>Looking for help with a specific system:</b> Please contact the Support Contact directly.</li>
            <li><b>Need to update or change details in the <abbr class="glossary" title="Information and related Technology">IT</abbr> System Register:</b> Please contact <b><a href="mailto:oimsupport@dpaw.wa.gov.au"><abbr class="glossary" title="Office for Information Management">OIM</abbr> Support</a></b>.</li>
            <li><b><a href="https://oim.dpaw.wa.gov.au/django-admin/registers/itsystem/export/">Download a list of <abbr class="glossary" title="Information and related Technology">IT</abbr> Systems as CSV</a></b>.</li>
        </ul>
    </div>
</div>

<div class="row">
    <div id="loading-icon" class="small-12 columns">
        <img src="//static.dpaw.wa.gov.au/images/loading.gif"/>
    </div>
</div>

{# Handlebars.js template follows. #}
{% verbatim %}
<script type="text/x-handlebars-template" id="itsystem-register-template">
<table id="itsystem-table">
    <thead>
        <tr>
            <th>System Name & ID</th>
            <th>Support Contact</th>
            <th>Division <br><abbr title="Person in the Department who is accountable for the outcomes of the business service being supported by the IT System; including ensuring IT System risks and issues are effectively treated, ensuring capabilities and budget are available for running and changing the IT System, and ensuring IT System investments demonstrate 'whole of life’ (lifecycle to build, maintain, retire and replace an IT System or service) and business value.">(Business Owner)</abbr></th>
            <th class="nowrap">System Status <br>Cost Centre (Agency)</th>
            <th class="nowrap"><small>
                <abbr title="Person in the department who is responsible for delivering the business service being supported by the IT System to meet the needs of the Department; including ensuring compliance with the department’s IT security controls, ensuring capabilities and resources are in place for IT System emergency preparedness and response; and capabilities and resources are in place to IT System support and training.">S/O: System Owner</abbr> /<br>
                <abbr title="Person in the department who has the technical expertise to support and quality assure (e.g. compliance with department IT security controls) the IT System’s technology and works with OIM to manage IT incidents, problems and changes for the IT System; including developing and maintaining the technology related knowledge in the IT System Register.">S/C: System Custodian</abbr> /<br>
                <abbr title="Person in the department who has the technical expertise to support and quality assure (e.g. compliance with department IT security controls) the IT System’s digital content and works with OIM to manage IT incidents, problems and changes for the IT System; including developing and maintaining the digital content related knowledge in the IT System Register.">D/C: Data Custodian</abbr></small>
            </th>
        </tr>
    </thead>
    <tbody>{{#each objects}}
        <tr>
            <td><dl><dt>{{#if this.link}}<a href="{{this.link}}" target="_blank">{{/if}}{{this.name}} (#{{this.system_id}}){{#if this.link}}</a>{{/if}}</dt>
<dd>{{#if this.acronym}}{{this.acronym}} - {{/if}}<a href="it-system-information/?system_id={{this.system_id}}">More Information</a><br><small>On <i>{{this.access_display}}</i>, logins are <i>{{this.authentication_display}}</i></small></dd></dl>
            </td>
            <td>
                {{#if this.preferred_contact__email}}<a href="/userinfo?email={{this.preferred_contact__email}}">{{this.preferred_contact__name}}</a>{{else}}{{#if this.custodian__email}}<a href="/userinfo?email={{this.custodian__email}}">{{this.custodian__name}}</a>{{else}}TBD{{/if}}{{/if}}</td>
            <td>{{#if this.cost_centre__division__manager__name}}{{ this.cost_centre__division__name }}<br>({{this.cost_centre__division__manager__name}}){{else}}TBD{{/if}}<br>
            </td>
            <td><b>{{ status_display }}</b><br>{{ this.cost_centre__name }}</td>
            <td class="nowrap">
                S/O: {{#if this.owner__email}}{{this.owner__name}}{{else}}TBD{{/if}} /<br>
                S/C: {{#if this.custodian__email}}{{this.custodian__name}}{{else}}TBD{{/if}} /<br>
                D/C: {{#if this.data_custodian__email}}{{this.data_custodian__name}}{{else}}TBD{{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</script>
{% endverbatim %}

<div class="row">
    <div id="container"></div>
</div>

<script>
    // Utility function to obtain query parameters.
    var urlParam = function(name, url) {
        if (!url) {
         url = window.location.href;
        }
        var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(url);
        if (!results) {
            return undefined;
        }
        return results[1] || undefined;
    }

    // Compile the Handlebars template.
    var source = $("#itsystem-register-template").html();
    var template = Handlebars.compile(source);
    var itSystemTable;

    // Document ready function.
    $(function () {
        // Get list of IT systems via the API.
        var users = $.get('/api/itsystems/', {'all': true}, function(data) {
            // Push the data into the Handlebars template.
            $("#container").html(template(data));
            // Upgrade the table using DataTables.
            itSystemTable = $("#itsystem-table").DataTable({pageLength: 50, ordering: false});
            // Hide the loading icon.
            $("#loading-icon").addClass("hide");

            // General filtering function
            var filter_term = urlParam("filter") || "";
            if (filter_term) {
                itSystemTable.search(decodeURIComponent(filter_term)).draw();
            };
        });
    });
</script>
{% endblock %}
