#maincontentarea h1 {
	font-weight: bold;
	padding-top: 15px;
	font-size: 23px;
	color: #003862;
	padding-left: 7px;
}
#maincontentarea h2 {
	font-size: 19px;
	font-weight: 600;
}

#maincontentarea h3 {
	font-size: 17px;
	font-weight: 600;
}
#maincontentarea h4 {
	font-size: 17px;
	font-weight: 600;
}
#maincontentarea h5 {
	font-size: 15px;
	font-weight: 600;
}

#maincontentarea p {  
	font-size: 15px;
	padding-left: 8px;
}
#maincontentarea { 
	padding:15px;
}
#maincontentbox {

}
#maincontentbox dl {
	margin: 20px;
	width: 97%;
	padding: 30px;
}

#maincontentarea .row  { 
	margin-left: 2px;
	margin-right: 2px;
}
#maincontentright {
	margin-top: 10px;
}

#maincontentright dl {
	margin: 0px;
	width: 97%;
	padding: 15px;
}

#maincontentright dd {
	border-bottom: 1px dashed #e6e6e6;
	padding: 13px;
	background-color: #f7f7f7;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

#maincontentright .accordion {
	border: none;
}
#maincontentright h3 {
	padding-left: 27px;
	margin-bottom: -5px;
	padding-top: 15px;
}

#maincontentright dd div {
	font-size: 13px;
}

#maincontentright dd a {
	font-size: 14px;
}
.background-content {
	background-size: cover !important; 
	background-color: #eeeef1 !important; 
	-webkit-background-size: cover !important; 
	-moz-background-size: cover !important;   
	-o-background-size: cover !important;
}
.caption-box { 
	cursor: pointer; 
	border-radius: 5px; 
	background-color: #f7f7f7; 
	padding: 20px 20px 20px 20px; 
	margin: 4px; 
	border: 1px solid #DDDDDD ; 
	text-align: center; 
	height: 155px;
    width: 155px;
	opacity: 1.6 !important; 
	box-shadow: 2px 2px 5px 0px rgba(181, 181, 181, 0.75);
}

.caption-box-text {
	margin-top:10px;
    font-size: 14px;
}

.body-simple-content {
	background-color: rgb(255, 255, 255); 
	padding-bottom: 20px; 
	opacity: 0.96; 
	min-height: 914px;
}

.footer-copyright small { 
	margin-top: -2.2em; 
}

.search-content {
	background-color: #FFFFFF; 
	margin-top: none; 
	padding-bottom: 20px; 
	opacity: .96
}

.search-container {
	height: 15em;
	cursor: pointer;
	overflow: hidden;
}
.search-compress {
	transform:scale(0.6);
	width:162%;
	transform-origin: 2% 0;
	filter: blur(1px);
	-webkit-filter: blur(1px);
}
.search-compress:hover {
	filter: none;
	-webkit-filter: none;
}
.main-content {
	background-color: rgb(255, 255, 255); 
	padding-bottom: 20px; 
	min-height: 914px;
}

