#mobilemenu { 
	width: 320px;
	z-index: 3000;
}
#mobilemenu ul { 
	padding-top: 10px;
	height: 100%;
	list-style: none;
	float: left;
	padding-bottom: 10px;
	width: 320px;
	margin-left: 0px !important;
}
#mobilemenu ul li {
	padding-top: 10px;
	padding-bottom: 10px;

}

#mobilemenu li {
	border-bottom: 1px solid #244a67 !important;
	cursor: pointer;
}

#mobilemenu ul li ul li ul li{

}

#mobilemenu ul ul ul {

}

#mobilemenui ul li:after {
	content: '';
	float: right;
	ipadding-right: 20px;
}

#mobilemenu ul li a { 
	font-size: 12px;
	height: 45px;
}

#mobilemenu ul ul li a {
	font-size: 12px !important;
	height: 45px;
}

#mobilemenu li ul {
	height: 100%;
	float: left;
}
#mobilemenu li span:before {
	content: "➤  \00a0";
	font-size: 10px;
	margin-bottom:3px;
}

#mobilemenu ul ul ul li a {
	font-size: 12px !important;
	height: 45px;
}
#mobilemenu ul ul {
	display:none;
}

#mobilemenu ul ul ul {
	display:none;
}

#mobilemenu li:hover > div ul {
	display:block;
	color: #9cbfda !important;
}
#mobilemenu li:hover > div ul span a {
	color: #9cbfda !important;
}

#mobilemenu li:focus {
	ibackground-color: #9cbfda;
}

#mobilemenu .submenu { 
}
#mobilemenu .submenutwo {
}
#mobilemenu .submenu:before {
}
#mobilemenu .text { 
	padding-left: 22px;
}

.submenu  ul li span {
	padding-left: 35px !important;
	display: inline-block;
}

.submenutwo  ul li span {
	padding-left: 46px !important;
	display: inline-block;
}

#mobilemenu ul li span ul li span{
	padding-left: 48px;
}

/* Mobile Menu */

#rightslidemenu {
	display: block;
	position: absolute;
	right: 0px;
	z-index: 5000;
	height: 100%;
	background-color: #003862;
	margin-right: -10px;
}


#mobilemenu .mainbox {
	position: absolute;
	top: 0;

}

#mobilemenu .headerbox {
	margin-top: 10px;
	float: left;
	width: 100%;
}
#mobilemenu .headerbox .leftside {
	padding-top: 7px;
	float:left;
	font-size: 21px;
	padding-left: 20px;

}

#mobilemenu .headerbox .rightside {
	float:right;
	font-size: 22px;
	padding-right: 30px;
}

.closemenu {
	border: 1px solid rgba(50, 50, 50, 0.82);
	padding: 5px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
	height: 30px;
	margin-top: 5px;
	background: rgb(0, 77, 136);
	cursor: pointer;
	background-color: #383737;
	width: 30px;

}
.closemenu span {
	color: #FFFFFF;
	position:absolute; 
	margin-top: -6px; 
	margin-left: -8px; 
	font-weight: bold
}

.mobilesearch div { 
	width: 100%; 
	padding-left: 18px; 
	padding-right: 18px;
}

.mobilesearch input { 
	margin-top: 8px; 
	width: 100%; 
	padding-top: 20px; 
	padding-bottom: 20px;
}
.sliderbutton a {
	font-size: 12.5px !important; 
	height: 45px !important; 
	padding-top: 5px !important; 
	width: 50px !important;
}

.sliderbutton i {
	height: 100px !important;
	font-size: 33px !important;
}
