#notification-topbar { 
	top: 0;
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 2100;
	opacity: 0.95;
	border: 1px solid #FFFFFF;
	padding: 12px;
}

.topbarsuccess { 
	background-color: #4CAF50;

}

.topbarwarning {
	background-color:#F3BD41;

}

.topbarerror {
	background-color: #EB3232;

}

