.appmenu { 
	width: 42px; 
	height: 45px; 
	background-color:#004d88;
}

.appmenu-section {
	left: 0;
	position: relative;
	width: auto;
	transition: left 300ms ease-out;
}
.appmenu-section-ul {
	margin-left: 0px;
	background: #003862;
}

#appbutton {

	height: 33px; 
	padding-left:10px; 
	padding-top: 10px; 
	cursor: pointer;
}
.appmenu-dropdown { 
	display:none; 
	z-index: 1003; 
	position: absolute; 
	opacity:0.96; 
	margin-top: 10px; 
	padding: 15px;

}

.appmenu-dropdown li { 
	display: inline;
	margin-top: 12px; 
	width: 275px; 
	height: 600px; 
	z-index: 2; 
	color: white;

}
#appsdiv { 
	width: 252px; 
	height: 500px;
}
#appsdiv h5 {
	color:#FFFFFF
}
.appicon {
	margin: 2px; 
	width: 80px; 
	height: 76px; 
	padding: 10px; 
	float: left; 
	display: inline-block; 
	background-color: rgba(255, 255, 255, 0.0901961); 
	cursor: pointer; 
	opacity: 20

}

.appicon-box { 
	height: 60px; 
	text-align: center;

}

.appicon-img {
	width: 60px;

}
.appicon-img img {
	padding-bottom: 6px;
	max-width:32px; 
	max-height: 32px;
}


.appicon-text { 
	font-size: 10px; 
	margin-top: 10px; 
	width: 100%;
	color: #FFFFFF;
	line-height: 0.9 !important;
}
.top-bar-profile li {
	padding-right: 10px; 
	padding-top: 2px; 
	width: 70px;
}
#myprofilebutton {
	width: 61px; 
	height: 61px; 
	z-index: 1001; 
	border-radius: 30px; 
	-moz-border-radius: 24px; 
	-webkit-border-radius: 30px; 
	border: 4px solid #003862; 
	position: absolute;
	cursor: pointer;
}

.myprofilebox { 
	position: absolute; 
	margin-top: 45px; 
	margin-left: -304px; 
	width: 360px; 
	float: right; 
	background-color: #ffffff; 
	z-index: 1003; 
	height: 250px; 
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.82);
	-moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.82); 
	box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.82); 
	display: none;
}
.myprofilebox2 {
	height: 250px;
}

.myprofilebox-textimg {
	height: 130px; 
	padding: 20px;
}

.myprofilebox-img { 
	float: left;
}
.myprofilebox-text {
	float: right; 
	width: 70%; 
	padding-top: 10px;
}
.myprofilebox-text-area {
	float: left; 
	color: #c1bebe;
}

.myprofilebox-text-name {
	float: left; 
	color: #4e4e4e; 
	width: 100%;
}

.myprofilebox-text-email {
	float: left; 
	color: #5d5b5b; 
	font-size: 12px; 
	width: 100%;

}

.myprofilebox-item {
	height: 40px; 
	border-bottom: 1px solid #efefef; 
	font-size: 14px; 
	padding-left: 30px; 
	padding-top: 12px; 
	cursor: pointer;
}
.myprofilebox-item a {
	background: none !important; 
	color: #004d88 !important; 
	font-weight: bold;
}

.myprofilebox-item a:hover {
	color: #5699cc !important;
}

.myprofilebox-item-end {
	height: 40px; 
	padding-left: 30px; 
	padding-top: 12px; 
	font-size: 14px; 
	cursor: pointer;
}

.is-dropdown-submenu-parent.is-down-arrow > a::after { 
	border-color: #3c6b8a transparent transparent !important;
}

.is-dropdown-submenu-parent.is-right-arrow > a::after {
	border-color: transparent transparent transparent #3c6b8a !important;
}
.top-bar ul {
	line-height: 0.9 !important;
}
