{% load core_tags static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %} - Office for Information Management - Department of Parks and Wildlife{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/localforage/1.4.2/localforage.min.js"></script>
        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/foundation/6.2.3/foundation.min.js"></script>
        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/foundation-datepicker/1.5.3/js/foundation-datepicker.min.js"></script>
        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/vue/1.0.9/vue.min.js"></script>
        <script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/vue-resource/0.9.3/vue-resource.min.js"></script>
        <script type="text/javascript" src="{% static 'js/f6_oim_cms.js' %}"></script>
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.png' %}">
        <link rel="stylesheet" type="text/css" media="all" href="//static.dpaw.wa.gov.au/static/fonts/Lato2OFLWeb/Lato/latofonts.css" />
        <link rel="stylesheet" type="text/css" media="all" href="//static.dpaw.wa.gov.au/static/libs/foundation/6.2.3/foundation-flex.css">
        <link rel="stylesheet" type="text/css" media="all" href="//static.dpaw.wa.gov.au/static/libs/foundation-datepicker/1.5.3/css/foundation-datepicker.min.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/f6_oim_cms.css' %}" />
        <style type="text/css">
        /* Unbreak the top-bar-right styling */
        .top-bar .top-bar-right {
            flex-basis: auto;
            flex-grow: 0;
        }
        </style>
        {% block extra_css %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <div class="inner-wrap">
            <div class="content">
                {% if 'fullscreen' not in request.GET %}
                    {% block header %}
                    <div class="row header_row align-justify">
                        <div class="columns show-for-large hide-for-print"><a target="_blank" href="//www.dpaw.wa.gov.au"><img src="//static.dpaw.wa.gov.au/images/oimlogo_left.svg" alt="Department of Parks and Wildlife"></a></div>
                        <div class="columns"><a href="/"><img src="//static.dpaw.wa.gov.au/images/oimlogo_right.svg" alt="Office for Information Management Extranet"></a></div>
                        <div class="columns show-for-large hide-for-print"><a class="float-right" href="/products/"><img src="//static.dpaw.wa.gov.au/images/oim_tree.svg"></a></div>
                    </div>
                    <div class="main_menu">
                        <div class="row">
                            {% get_site_root as site_root %}
                            {% f6_top_menu parent=site_root calling_page=self %}
                        </div>
                    </div>
                    <div class="row breadcrumbs_row">
                        <div class="small-12 large-9 columns show-for-medium">
                            <ul class="breadcrumbs">
                            {% page_menuitems self as menuitems %}
                            {% for menuitem in menuitems %}
                                <li>{% if not forloop.last %}<a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>{% else %}{{ menuitem.title }}{% endif %}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="small-12 large-3 columns">
                            <ul class="breadcrumbs float-right">
                                <li><a href="/profile/">My Profile</a></li>
                                <li><a title="Logout" href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endblock %}
                {% endif %}
                <div class="main">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="footer">
                {% if 'fullscreen' in request.GET %}
                    <div class="hide">{% include_content "footer" %}</div>
                    <style type="text/css">.row {min-width:100% !important;}</style>
                {% else %}
                    {% block footer %}{% include_content "f6-footer" %}{% endblock %}
                    <div class="row">
                        <div class="columns end text-right"><small>v{{ application_version }}</small></div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
