
<strong>Dear {{given_name}} {{surname}},</strong>

<p>
  This is an automated reminder to let you know that your Department of Parks and Wildlife password is about to expire in {{ expiry }} days.
  Please login to the self service portal to change your password before it expires.
</p>
<a href="https://selfservice.dpaw.wa.gov.au">https://selfservice.dpaw.wa.gov.au</a>

<p>
  Kind regards,
</p>
<br>
<p>
  OIM Support
  <br>
  Office for Information Management
  <hr>
  <address>
    Regional and Fire Management Services Division<br>
    Department of Parks and Wildlife<br>
    17 Dick Perry Avenue, Kensington WA 6151<br>
    Postal address: Locked Bag 104 Bentley Delivery Centre WA 6983
  </address>
  <hr>

</p>


<p>
  Please do not reply directly to this email. Should you need to contact the  Office for Information Managment,
  please send emails to oimsupport@dpaw.wa.gov.au or call (08) 9219 8334.
</p>
